# Dependencies
node_modules/
venv/
__pycache__/
.serverless/

# Environment variables
.env
.env.*

# Python
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
